.ship__blog {
    display: flex;
    flex-direction: column;
}

.ship__blog-heading {
    width: 100%;
    text-align: left;
    margin: 5rem 0;
}

.ship__blog-heading h1 {
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 62px;
    line-height: 75px;

    letter-spacing: -0.04rem;
}

.ship__blog-containers {
    display: flex;
    flex-direction: row;
}

.ship__blog-containers-group-A {
    flex: 0.75;
    margin-right: 2rem;
}

.ship__blog-containers-group-B {
    flex: 1;
    
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
}

@media screen and (max-width: 990px) {
    .ship__blog-containers {
        flex-direction: column-reverse;
    }

    .ship__blog-containers-group-A {
        margin: 2rem 0;
    }

    .ship__blog-containers-group-A .ship__blog-containers_article {
        width: 48%;
    }

    .ship__blog-containers-group-A .ship__blog-containers_article-image {
        height: 250px;
    }
}

@media screen and (max-width: 700px) {
    .ship__blog-containers-group-B {
        grid-template-columns: repeat(1, 1fr);
    }

    .ship__blog-containers-group-A .ship__blog-containers_article {
        width: 100%;
    }

    .ship__blog-heading h1 {
        font-size: 46px;
        line-height: 52px;
    }
}

@media screen and (max-width: 550px) {
    .ship__blog-heading h1 {
        font-size: 34px;
        line-height: 42px;
    } 
}