.ship__blog-containers_article {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    background: var(--color-footer);
    border-radius: 1rem;

}

.ship__blog-containers_article-image {
    
    width: 100%;
    height: 100%;

    background: var(--color-bg);
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.ship__blog-containers_article-image img {
    width: 100%;
    height: 100%;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.ship__blog-containers_article-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 1rem 1.5rem;
    height: 100%;
}

.ship__blog-containers_article-content p {
    font-family: var(--font-family);
    font-size: 11.65px;
    font-weight: 700;
    line-height: 35px;

    color: white;
}

.ship__blog-containers_article-content h3 {
    font-family: var(--font-family);
    font-size: 25.11px;
    font-weight: 800;
    line-height: 30.30px;

    color: white;
    margin-bottom: 5rem;
    cursor: pointer;
}

.ship__blog-containers_article-content p:last-child {
    cursor: pointer;
}

.ship__blog-containers_article-content p:last-child:hover {
    color: var(--color-text);
    padding-left: 1rem;
    border-left: 3px solid var(--color-text);
}

@media screen and (max-width: 550px) {
    .ship__blog-containers_article-content h3 {
        font-size: 18px;
        line-height: 25px;
    }
}